<div class="container">

  <!-- Spinners -->
  <div class="row" *ngIf="isLoading">
      <div class="text-center">
        <img src="{{ spinner }}" height="150" width="150" />
        <br />
        <h3>Carregando...</h3>
      </div>
  </div>

  <div class="row pad-row text-center">
    <h2>Creators</h2>

    <div class="col-md-3 col-sm-3 col-xs-6" *ngFor="let c of creators">
        <a href="creator/{{ c.id }}">
          <img src="{{ c.thumbnail.path }}/standard_xlarge.{{ c.thumbnail.extension }}" class="img-responsive img-circle pad-img" alt="{{ c.name }}" />
        </a>
      <h4>
        <a href="creator/{{ c.id }}">{{ c.firstName }}</a>
      </h4>
    </div>

  </div>


</div>
