<div class="container">
  <div class="page-header">
    <h1>Angular 2 and Marvel API application</h1>
  </div>
  <p class="lead">
      Aplicação desenvolvida com Angular 2 consumindo os dados da API da Marvel. A aplicação não está completamente terminada, porém foi o suficiente
      para realizar um estudo e praticar o framework Angular com chamadas via http. Livre para continuar e contribuir.
      <br />
      Segue meu <a href="https://github.com/broncasrafa/" target="_blank">Github</a>
      <br />
      Segue o link do repositório no Github -> <a href="https://github.com/broncasrafa/angular-2-marvel-api" target="_blank">download</a>
      <br />
      Muito obrigado !!!
  </p>
</div>
