
<div class="container">
    <div class="jumbotron" style="background-color: #ffffff">
      <div class="text-center">
          <img width="100" alt="Angular Logo" src="../assets/img/angular_01.svg">
          <img width="100" alt="Angular Logo" src="../assets/img/marvel_comics_logo_01.svg">
      </div>
      <br />
      <br />
      <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Enter character name here" [(ngModel)]="objSearch.term" />
          <span class="input-group-btn">
            <button id="btn-pesquisar" class="btn btn-danger" type="button" id="buscar" (click)="search()" [disabled]="isLoading">Pesquisar</button>
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6" *ngFor="let c of characters">
          <img src="{{ c.thumbnail.path }}.{{ c.thumbnail.extension }}" class="img img-responsive img-circle" alt="{{ c.name }}" style="padding: 5px;" />
          <h4>{{ c.name }}</h4>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

