<div class="container">
  <div class="input-group">
      <input type="text" class="form-control" id="search" placeholder="Enter character name here" [(ngModel)]="objSearch.term" />
      <span class="input-group-btn">
        <button id="btn-pesquisar" class="btn btn-danger" type="button" id="buscar" (click)="search()" [disabled]="isLoading" >Pesquisar</button>
      </span>
  </div>
<div class="row">
  <div class="input-group">
    <label class="radio-inline">
      <input type="radio" name="tipoBusca" id="tipoBusca1" value="characters" [(ngModel)]="typeSearch"> Characters
    </label>
    <label class="radio-inline">
      <input type="radio" name="tipoBusca" id="tipoBusca2" value="comics" [(ngModel)]="typeSearch"> Comics
    </label>
    <label class="radio-inline">
      <input type="radio" name="tipoBusca" id="tipoBusca3" value="series" [(ngModel)]="typeSearch"> Series
    </label>
    <label class="radio-inline">
      <input type="radio" name="tipoBusca" id="tipoBusca3" value="creators" [(ngModel)]="typeSearch"> Creators
    </label>
    <label class="radio-inline">
      <input type="radio" name="tipoBusca" id="tipoBusca3" value="events" [(ngModel)]="typeSearch"> Events
    </label>
  </div>
</div>

  <div class="row" style="padding-top: 60px;" *ngIf="showContent">
    <div class="col-md-3 col-sm-3 col-xs-6" *ngFor="let c of objSearchResultList">
      <a href="{{ c.href }}"><img src="{{ c.src }}" class="img img-responsive img-circle" alt="{{ c.name }}" style="padding: 5px;" />
        <h4>
          {{ c.name }}
        </h4>
      </a>
    </div>
  </div>

  <!-- Spinners -->
  <div class="row" *ngIf="isLoading" style="padding-top:40px">
      <div class="text-center">
        <img src="../{{ spinner }}" height="150" width="150" />
        <br />
        <h5>Carregando...</h5>
      </div>
  </div>
  <div class="row" *ngIf="noDataProvided">
      <div class="text-center">
        <h4 class="sub-header">No data provided by api</h4>
      </div>
  </div>

</div>
