<div class="container">
  <div class="row" *ngIf="hasErrors">
    <div class="alert alert-danger">
      {{ errors.status }}
    </div>
  </div>

  <div class="row">
    <h3 class="page-header"> {{ storie.title }}</h3>
    <p class="lead">
      {{ storie.description }}
    </p>
    <p *ngIf="storie.type != null">
      <b>Type</b>: {{ storie.type }}
    </p>
    <p *ngIf="storie.modified != null">
      <b>Modified</b>: {{ storie.modified | date: 'dd/MM/yyyy HH:mm:ss'}}
    </p>
  </div>

  <!-- Spinners -->
  <div class="row" *ngIf="isLoading">
    <div class="text-center">
      <img src="{{ spinner }}" height="150" width="150" />
      <br />
      <h3>Carregando...</h3>
    </div>
  </div>

  <div class="row" *ngIf="someCreators != undefined && someCreators.length > 0">
    <div class="col-sm-12 col-md-12 col-xs-12 main">
      <h1 class="page-header">Creators</h1>
      <div class="row placeholders">
        <div class="col-xs-4 col-sm-2 placeholder" *ngFor="let c of someCreators">
          <a href="creator/{{ c.id }}">
            <img src="{{ c.thumbnail.path}}/standard_xlarge.{{ c.thumbnail.extension }}" width="200" height="200" class="img-responsive" alt="{{ c.firstName }} ">
            <span class="text-muted">{{ c.firstName }} {{ c.lastName }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="someCharacters != undefined && someCharacters.length > 0">
    <div class="col-sm-12 col-md-12 col-xs-12 main">
      <h1 class="page-header">Characters</h1>
      <div class="row placeholders">
        <div class="col-xs-4 col-sm-2 placeholder" *ngFor="let c of someCharacters">
          <a href="character/{{ c.id }}">
            <img src="{{ c.thumbnail.path}}/standard_xlarge.{{ c.thumbnail.extension }}" width="200" height="200" class="img-responsive" alt="{{ c.name }}" style="border-radius: 50% !important;">
            <span class="text-muted">{{ c.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="someComics != undefined && someComics.length > 0">
    <div class="col-sm-12 col-md-12 col-xs-12 main">
      <h1 class="page-header">Comics</h1>
      <div class="row placeholders">
        <div class="col-xs-4 col-sm-2 placeholder" *ngFor="let c of someComics">
          <a href="comic/{{ c.id }}">
            <img src="{{ c.thumbnail.path}}/standard_xlarge.{{ c.thumbnail.extension }}" width="200" height="200" class="img-responsive" alt="{{ c.title }}">
            <span class="text-muted" style="margin: 20px -2px !important;">{{ c.title }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="someSeries != undefined && someSeries.length > 0">
    <div class="col-sm-12 col-md-12 col-xs-12 main">
      <h1 class="page-header">Series</h1>
      <div class="row placeholders">
        <div class="col-xs-4 col-sm-2 placeholder" *ngFor="let c of someSeries">
          <a href="serie/{{ c.id }}">
            <img src="{{ c.thumbnail.path}}/standard_xlarge.{{ c.thumbnail.extension }}" width="200" height="200" class="img-responsive" alt="{{ c.title }} ">
            <span class="text-muted">{{ c.title }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="someEvents != undefined && someEvents.length > 0">
    <div class="col-sm-12 col-md-12 col-xs-12 main">
      <h1 class="page-header">Events</h1>
      <div class="row placeholders">
        <div class="col-xs-4 col-sm-2 placeholder" *ngFor="let c of someEvents">
          <a href="event/{{ c.id }}">
            <img src="{{ c.thumbnail.path}}/standard_xlarge.{{ c.thumbnail.extension }}" width="200" height="200" class="img-responsive img-rounded" alt="{{ c.title }}">
            <span class="text-muted">{{ c.title }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
